<h1>Admin panel</h1>

<p>Всего открытых комнат: <%= @rooms %>
<p>Всего открытых тасков: <%= @tasks %>
<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">login</th>
      <th scope="col">name</th>
      <th scope="col">Зарегистрирован</th>
      <th scope="col">Состоит в комнатах</th>
      <th scope="col">Создано тасков</th>
    </tr>
  </thead>
<tbody>
<% @users.each do |u| %>

    <tr>
      <th scope="row"><%= u.id %></th>
      <td><%= u.login %></td>
      <td><%= u.name %></td>
      <td><%= l(u.created_at, format: :short) %></td>
      <td><%= u.rooms.size %></td>
      <td><%= u.tasks.size %></td>
    </tr>

<% end %>
</tbody>
</table>

<div class="d-flex justify-content-center" style="margin-top: 10px;">
<%= paginate @users %>
</div>