<% provide :page_title, 'Регистрация' %>
<% provide :current_page, 'Регистрация' %>

<h1>Регистрация</h1>

<%= form_with model: @user do |u| %>

  <div class="row mb-3">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Логин</label>
    <div class="col-sm-10">
      <%= u.text_field :login, class: 'form-control', id: 'inputEmail3', placeholder: 'Ваш логин'%>
    </div>
  </div>

  <div class="row mb-3">
    <label for="name3" class="col-sm-2 col-form-label">Имя</label>
    <div class="col-sm-10">
      <%= u.text_field :name, class: 'form-control', id: 'name3', placeholder: 'Ваше имя'%>
    </div>
  </div>

  <div class="row mb-3">
    <label for="inputPassword3" class="col-sm-2 col-form-label">Пароль</label>
    <div class="col-sm-10">
      <%= u.password_field :password, type: 'password', class: 'form-control', id: 'inputPassword3', placeholder: 'Пароль'%>
    </div>
  </div>

    <div class="row mb-3">
    <label for="inputpassword_confirmation3" class="col-sm-2 col-form-label">Подтверждение пароля</label>
    <div class="col-sm-10">
      <%= u.password_field :password_confirmation, type: 'password', class: 'form-control', id: 'inputpassword_confirmation3', placeholder: 'Подтверждение пароля'%>
    </div>
  </div>
<%= u.submit "Регистрация", class: 'btn btn-primary' %>
<% end %> 






