<% provide :page_title, 'Регистрация' %>
<% provide :current_page, 'Регистрация' %>



<div class="row mt-5">

<div class="col-md-4"></div>
<div class="col-md-4">
<h1>Регистрация</h1>
<%= form_with model: @user do |u| %>

  <div class="form-floating mb-3">
    <%= u.text_field :login, class: 'form-control', id: 'inputEmail3', placeholder: 'Ваш логин'%>
    <label for="inputEmail3">Логин</label>
  </div>

  <div class="form-floating mb-3">
    <%= u.text_field :name, class: 'form-control', id: 'name3', placeholder: 'Ваше имя'%>
    <label for="name3">Имя</label>
  </div>

  <div class="form-floating mb-3">
    <%= u.password_field :password, type: 'password', class: 'form-control', id: 'inputPassword3', placeholder: 'Пароль'%>
    <label for="inputPassword3">Пароль</label>
  </div>

  <div class="form-floating mb-3">
    <%= u.password_field :password_confirmation, type: 'password', class: 'form-control', id: 'inputpassword_confirmation3', placeholder: 'Подтверждение пароля'%>
    <label for="inputpassword_confirmation3">Подтверждение пароля</label>
  </div>

<%= u.submit "Регистрация", class: 'btn btn-primary' %>
<%= link_to "Eсть аккаунт?", new_session_path, class: 'btn btn-outline-secondary' %>
<% end %> 
</div>
<div class="col-md-4"></div>

</div>




