<div class="card" style="margin-top: 10px;">
   <a href="/rooms/<%= r.id %>" style="color:black;text-decoration:none;"><h5 class="card-header"><%= r.title %></h5></a>
  <div class="card-body">
    <p class="card-text"><%= r.description %></p>
    <% user = r.users %>
    <% i = 0 %>
    <p>Участники:
    <% user.each do |u| %>
    <% i = i + 1 %>
     <%= u.name %><% if i < user.size %>,<% end %>
    <% end %>  
    </p>
    <% if r.tasks.size > 0 %>
    <p>Тасков: <%= r.tasks.size %></p>
    <% end %>
  </div>
    <div class="card-footer text-muted">
    <%= distance_of_time_in_words(r.updated_at, Time.now) %> назад
  </div>
</div>


