<li class="list-group-item">
  <input class="form-check-input me-1" type="checkbox" value="isset" name="<%= task.id %>">
   <a data-bs-toggle="collapse" href="#collapse<%= task.id %>" role="button" aria-expanded="false" aria-controls="collapse" style="color: black;text-decoration: none;">
    <%= task.title %>
  </a>
      <% if task.status == true %>
    <span class="badge bg-primary rounded-pill">В работе</span>
    <% end %>
  <div class="collapse" id="collapse<%= task.id %>">
  <div class="card card-body">
    <p><%= sanitize task.description.to_s.gsub(/\n/, "<br>"), tags: %w(br) %>
        <div class="text-muted">
    <%= l(task.updated_at, format: "%d.%m.%Y | %H:%M") %><a href="/tasks/<%= task.id %>/edit"><span class="badge bg-secondary rounded-pill" style="margin-left:5px;">Изменить</span></a>
        </div>

  </div>
</div>
</li>