<li class="list-group-item" id="<%= dom_id task %>">
  <input class="form-check-input me-1" type="checkbox" name="task[<%= task.id %>]">
   <a data-bs-toggle="collapse" href="#collapse<%= task.id %>" role="button" aria-expanded="false" aria-controls="collapse" style="color: black;text-decoration: none;">
    <%= word_trim(task.title) %>
    <% if task.description != nil and task.description != '' %>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-short" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"/>
    </svg>
    <% end %>
  </a>
    <span class="badge bg-primary rounded-pill"><%= status(task.room_id, task.worker) %></span>
  <div class="collapse" id="collapse<%= task.id %>">
  <div class="card card-body">
    <p><%= sanitize task.description.to_s.gsub(/\n/, "<br>"), tags: %w(br) %></p>
        <div class="text-muted">
    <%= l(task.updated_at, format: "%d.%m.%Y | %H:%M") %><a href="/tasks/<%= task.id %>/edit"><span class="badge bg-secondary rounded-pill" style="margin-left:5px;">Изменить</span></a>
        </div>
  </div>
</div>
</li>