<div style="margin-top: 10px;">


<% if have_room? %>
<% room_id = @room.id %>
<% else %>
<% room_id = '0' %>
<% end %>

<% ##Начало формы %>
<%= form_with url: "/rooms/tasks/status/#{room_id}", method: :post do |form| %>
<% ##Начало формы %>

<ul class="list-group">

<% ##Начало цикла %>
<% @tasks.each do |tasks| %>
<% ##Начало цикла %>
<li class="list-group-item">
  <input class="form-check-input me-1" type="checkbox" value="isset" name="<%= tasks.id %>">
   <a data-bs-toggle="collapse" href="#collapseExample<%= tasks.id %>" role="button" aria-expanded="false" aria-controls="collapseExample" style="color: black;text-decoration: none;">
    <%= tasks.title %>
  </a>
      <% if tasks.status == true %>
    <span class="badge bg-primary rounded-pill">В работе</span>
    <% end %>
  <div class="collapse" id="collapseExample<%= tasks.id %>">
  <div class="card card-body">
    <p><%= sanitize tasks.description.to_s.gsub(/\n/, "<br>"), tags: %w(br) %>
        <div class="text-muted">
    <%= l(tasks.updated_at, format: "%d.%m.%Y | %H:%M") %><a href="/tasks/<%= tasks.id %>/edit"><span class="badge bg-secondary rounded-pill" style="margin-left:5px;">Изменить</span></a>
        </div>

  </div>
</div>
</li>

<% ##Конец цикла %>
<% end %>
<% ##Конец цикла %>
</ul>


<% if @tasks.size > 0 %>
<div style="margin-top:10px;">
<button type="submit" class="btn btn-success" name="get" value="1">

  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-square" viewBox="0 0 16 16">
  <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"></path>
  <path d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.235.235 0 0 1 .02-.022z"></path>
</svg>

</button>
<button type="submit" class="btn btn-primary" name="get" value="2">

                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-workspace" viewBox="0 0 16 16">
  <path d="M4 16s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H4Zm4-5.95a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"></path>
  <path d="M2 1a2 2 0 0 0-2 2v9.5A1.5 1.5 0 0 0 1.5 14h.653a5.373 5.373 0 0 1 1.066-2H1V3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v9h-2.219c.554.654.89 1.373 1.066 2h.653a1.5 1.5 0 0 0 1.5-1.5V3a2 2 0 0 0-2-2H2Z"></path>
</svg>
              
              
</button>
<div>
<% end %>
</div>

<% ##Конец формы %>
<% end %>
<% ##Конец формы %>







            
              
             