<li class="list-group-item" id="<%= dom_id task %>">
  <input class="form-check-input me-1" type="checkbox" name="task[<%= task.id %>]">
   <a data-bs-toggle="collapse" href="#collapse<%= task.id %>" role="button" aria-expanded="false" aria-controls="collapse" style="color: black;text-decoration: none;">
    <%= word_trim(task.title) %>
  </a>
    <span class="badge bg-primary rounded-pill"><%= status(task.room_id, task.worker) %></span>
  <div class="collapse" id="collapse<%= task.id %>">
  <div class="card card-body">
    <p><%= sanitize task.description.to_s.gsub(/\n/, "<br>"), tags: %w(br) %>
        <div class="text-muted">
    <%= l(task.updated_at, format: "%d.%m.%Y | %H:%M") %><a href="/tasks/<%= task.id %>/edit"><span class="badge bg-secondary rounded-pill" style="margin-left:5px;">Изменить</span></a>
        </div>
  </div>
</div>
</li>