<% provide :page_title, @room.title %>
<% provide :current_page, 'Комнаты' %>


<h1 class="display-5"><%= @room.title %></h1>
<p class="h4"><%= @room.description %></p>







<div class="btn-group" role="group" aria-label="Basic mixed styles example">
  <form>
  <button class="btn btn-outline-primary" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
  
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people" viewBox="0 0 16 16">
  <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816zM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275zM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4z"></path>
</svg>
            Участники    
              
  </button>
  </form>
  <form action="/rooms/<%= @room.id %>/edit">
  <button class="btn btn-outline-primary" style="margin-left: 5px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"></path>
  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"></path>
</svg> Изменить      
  </button>
  </form>
  <form>
<button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal1" style="margin-left: 5px;">
  <%= delete_or_exit(@room.owner_id) %>
</button>
</form>
</div>



<div style="margin-top: 20px;">

<%= render 'shared/tasks'%>
<%= render 'shared/taskform' %>

</div>




<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Добавить нового пользователя в комнату</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <h4>Участники:</h4>
      <% @users.each do |users| %>
      <p><%= users.login %></p>
      <% end %>
      <% if current_user.id == @room.owner_id %>
      <%= form_with url: "/rooms/#{@room.id}/add", method: :post do |form| %>
        <div class="row g-3 align-items-center">
          <div class="col-auto">
          <input type="text" id="title" class="form-control" aria-describedby="passwordHelpInline" name="login" placeholder="Логин пользователя">
          </div>
          <div class="col-auto">
          <span id="passwordHelpInline" class="form-text">
          </span>
          </div>
          </div>
          <div style="margin-top: 7px;">
          <button type="submit" name="add" class="btn btn-primary" value="1">Добавить</button>
          <button type="submit" name="remove" class="btn btn-primary" value="2">Удалить</button>
          </div>
        <% end %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel1">Вы уверены?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                  <%= form_with url: "/rooms/#{@room.id}/delete", method: :delete do |form| %>
                  <button type="submit" class="btn btn-danger"><%= delete_or_exit(@room.owner_id) %></button>
                  <% end %>
      </div>
    </div>
  </div>
</div>

