<% provide :page_title, @room.title %>
<% provide :current_page, 'Комнаты' %>


<h1><%= @room.title %></h1>







<div class="btn-group" role="group" aria-label="Basic mixed styles example">
  <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Участники</button>
  
  <%= form_with url: "/rooms/#{@room.id}/delete", method: :delete do |form| %>
  <button class="btn btn-danger" type="submit" style="margin-left: 5px;">Удалить</button>
  <% end %>
</div>


<div style="margin-top: 10px;">
<% @tasks.each do |tasks| %>

<form action="/tasks/<%= tasks.id %>" method="delete">
<li class="list-group-item">
  <input class="form-check-input me-1" type="submit" value="" aria-label="...">
  <%= tasks.title %>
</li>
</form>


<% end %>
</div>


<%= form_with model: @task do |t| %>


  <div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Таск" aria-label="Recipient's username" aria-describedby="basic-addon2" name="task">
  <span class="input-group-text" id="basic-addon2"><button type="submit" class="btn btn-secondary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-circle" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"></path></svg></button></span>
  </div>
  

<% end %>





<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Добавить нового пользователя в комнату</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <h4>Участники:</h4>
      <% @users.each do |users| %>
      <p><%= users.login %></p>
      <% end %>
      <%= form_with url: "/rooms/#{@room.id}/add", method: :post do |form| %>
        <div class="row g-3 align-items-center">
          <div class="col-auto">
          <input type="text" id="title" class="form-control" aria-describedby="passwordHelpInline" name="login" placeholder="Логин пользователя">
          </div>
          <div class="col-auto">
          <span id="passwordHelpInline" class="form-text">
      
          </span>
          </div>
          </div>
          <div style="margin-top: 7px;">
          <button type="submit" name="add" class="btn btn-primary" value="1">Добавить</button>
          <button type="submit" name="remove" class="btn btn-primary" value="2">Удалить</button>
          </div>
          
        <% end %>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>

      </div>
    </div>
  </div>
</div>
