<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:page_title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>
  <body>


 <%= render 'shared/menu'%>

  <div class="container">
 
  <% if flash[:class].present? %>
  <div class="<%= flash[:class] %>" role="alert" style="margin-top: 10px;">
  <%= flash[:text] %>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <% end %>

    <%= yield %>

  </div>

  </body>
</html>
